* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

nav {
    margin-top: 18px;
}

.main-nav {
    margin-right: 20px;
}

.main-nav ul {
    display: flex;
    float: right;
    align-items: center;
}

.main-nav li {
    text-decoration: none;
    display: inline;
    font-size: 13px;
    margin: 8px;
}

.main-nav li img {
    width: 16px;
    height: 16px;
    opacity: 0.55;
}

.main-nav li button {
    background-color: #4285f4;
    border: none;
    color: #fff;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 1px;
}

.search-area {
    display: flex;
    float: left;
    align-items: center;
    margin-left: 20px;
}

.logo {
    width: 100px;
}

.searchbar {
    width: 650px;
    margin-top: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 25px;
    height: 45px;
    margin-left: 40px;
}

.searchbar img {
    height: 16px;
}

.searchbar input {
    height: 75%;
    width: 75%;
    border: none;
    outline: none;
}

.searchbar svg {
    width: 24px;
}

.result-links {
    clear: left;
    margin: 5px 0;
    position: relative;
    top: 25px;
    left: 160px;
}

.result-links ul {
    display: flex;
}

.result-links li {
    list-style: none;
    margin: 0 10px;
    padding: 5px;
    display: flex;
}

.result-links li:first-child {
    border-bottom: 3px #4285f4 solid;
}

.result-links li img {
    width: 16px;
}

main {
    margin: 26px 0 0 180px;
    font-size: 13px;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
}

main p {
    color: rgba(0, 0, 0, 0.55);
    padding: 10px 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 13px;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    height: 40px;
    font-size: 15px;
    padding-left: 30px;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    margin-right: 20px;
}

.privacy {
    float: right;
}

.info {
    float: left;
}
