* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

nav {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    text-decoration: none;
    display: inline;
    font-size: 13px;
    margin: 8px;
    
    
}

nav li img {
    width: 16px;
    height: 16px;
    opacity: 0.55;
}

nav li button {
    background-color: #4285f4;
    border: none;
    color: #fff;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 1px;
}

main {
    position: relative;
    clear: right;
    text-align: center;
    width: 100%;
    top: 170px;
}

main .searchbar {
    width: 50%;
    margin-top: 70px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 20px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 25px;
    height: 40px;
}

main .searchbar img {
    height: 16px;
}

main .searchbar input {
    height: 75%;
    width: 75%;
    border: none;
}

main svg {
    width: 24px;
}

main button {
    margin: 40px 5px;
    display: inline-block;
    border: none;
    padding: 13px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

main p {
    font-size: 13px;
}

main p a {
    text-decoration: none;
    color: rgb(183, 23, 234);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 13px;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    height: 40px;
    font-size: 15px;
    padding-left: 30px;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    margin-right: 20px;
}

.privacy {
    float: right;
}

.info {
    float: left;
}
